body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px !important;
}




#progress .times, .card-footer, .volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.volume-container #volume{
    margin-right:5px;
}

 
li.playing{
    background-color: #0b5eb7;
    color:#fff;
}
